*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}
.footer{
    margin-top: 150px;
    width: 100%;
    padding: 100px 15%;
    background: rgb(98, 97, 97);
    color: rgb(234 242 234);
    display: flex;
}
.footer div{
    text-align: center;
}
.col-2{
    flex-grow: 2;
}
.footer div h3{
    font-weight: 300;
    margin-bottom: 30px;
    letter-spacing: 1px
 
}
.col-1 a{
    display: block;
    text-decoration: none;
    color: white;
    margin-bottom: 10px;

}
a:hover{
    color: red;
    /*font-size: 23px;*/
    transform: scale(1.04);
    /*text-decoration: underline; */
}
form input{
    width: 400px;
    height: 45px;
    border-radius: 4px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    outline: none;
    border: none;
   
}
form button{
    background: transparent;
    border: 2px solid floralwhite;
    color: white;
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 15px;
    cursor: pointer;

}
form button:hover{
    color: red;
    /*font-size: 23px;*/
    transform: scale(1.04);
    /*text-decoration: underline; */
}